body {
    background-color: #f9f7fe;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/143/071/original/pexels-thatguycraig000-1563356.jpg?1726116238);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: cairo play;
    font-weight: bold;
}

.container {
    background: #1c81b3;
    margin: 60px auto;
    padding: 30px;
    max-width: 600px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    opacity: .90;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

select {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    background-color: #ffe4d8;
    font-family:impact;
    font-weight: bold;
}

.option {
    font-size: 22px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family:impact;
    font-weight: bold;
    font-size: 36px;
}

h2 {
    margin: 0 10px;
    font-size: 30px;
    padding-top: 10px;
}

.city {
    display: flex;
    justify-content: space-between;
    border-bottom: #fefefe 1px groove;
}

.city:last-child {
    border: none;
}

.date {
    opacity: .9;
    color: #ffe4d8;
    margin: 10px;
}

.time {
    font-size: 38px;
    font-weight: bold;
    padding-top: 20px;
}

.time small {
    font-size: 18px;
    vertical-align: middle;
}
#reset-button {
    background-color: #194421;
    color: #fefefe;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor:crosshair;
    margin-top: 20px;
    opacity: 1;
    transition: background-color 0.3s ease;
    align-content: center;
    font-family: cairo play;
    font-weight: bolder;

}

#reset-button:hover {
    background-color: #A73E35;
    cursor: pointer;
}

footer {
    border-top: dotted 3px #f9f7fe;
    text-align: center;
    font-size: 26px;
    color: #ffe4d8;
    background-color: #50e8b335;
    margin: 60px auto;
    padding: 30px;
    max-width: 600px;
    border-radius: 20px;
    opacity: .9;
    font-family:impact;
    font-weight: bold;
}

a {
    color: #43c4ff;
}

a:hover {
    color: #fefefe;
}

.strong {
    font-weight: bold;
}
