body{
    background-color: #f9f7fe;
}
.container {
background: #1c81b3;
margin: 60px auto;
padding: 30px;
max-width: 600px;
box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px ;
border-radius: 10px;
}
h1{
    text-align: center;
    font-family: Verdana;
    font-size: 36px;
}
h2{
    margin:  0 10px;
    font-size: 30px;
    padding-top: 10px;
}
.city{
display: flex;
justify-content: space-between;
border-bottom:#fefefe 1px solid ;
}
.city:last-child{
    border:none;
}
.date {
    opacity: .8;
    color:rgb(243, 240, 237);
    margin:10px;
}
.time {
font-size: 38px;
font-weight: bold;
padding-top: 20px;
}
.time small{ 
    font-size: 18px;
    vertical-align: middle;
}
select {
    display: block ;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;

}
footer{
    border-top: 1px solid #f9f7fe;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 26px;
    color: #1c81b3;
}
.strong {
font-weight: bold;
}